@import "constants";

.explanation-page {
	nav ol {
		list-style-type: disc;
		padding-left: 1rem;
	}

	ul {
		padding-left: 1rem;
	}

	ol {
		list-style-type: none;
		padding: 0;
	}
	ol ol {
		margin-left: 1rem;
	}

	li {
		padding-top: .1rem;
		padding-bottom: .1rem;
	}

	.tiny-color-bar {
		width: .9rem;
		height: .9rem;
		margin-right: .25rem;
		border-radius: .1rem;
		display: inline-block;
	}

	[data-unhighlighted=true] {
		animation-name: lighten;
		animation-duration: .3s;
		color: $barelyReadableGray;
	}

	@keyframes lighten {
		0% {
			color: $black;
		}
		100% {
			color: $barelyReadableGray;
		}
	}
}
