.text-body {
	font-size: 1.3em;
}

.chiasm-section {
	display: flex;
}

.section-body {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.section-line {
	display: flex;
	flex-direction: row;
}

.section-horizontal-units {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.section-content {
	padding: calc(var(--paragraphMargin) / 2) 0;
	display: flex;
	flex-grow: 1;
	flex-direction: row-reverse;
	justify-content: center;
}

.section-content > p {
	margin-top: 0;
	margin-bottom: 0;
}

.content-section-margin {
	margin-left: 16px;
	margin-right: 0;
}

@media (max-width: 900px) {
	.content-section-margin {
		margin-right: 16px;
	}
}

@media (max-width: 450px) {
	.content-section-margin {
		margin-left: 8px;
		margin-right: 8px;
	}
}

.section-text {
	flex-grow: 1;
	min-width: 270px;
	max-width: 800px;
}

.section-description {
	flex-shrink: 0;
	flex-grow: 0;
	width: 400px;
	color: var(--darkGray);
}

.header-section-description {
	margin-top: 24px;
	margin-bottom: 24px;
}

.color-bar {
	width: 50px;
	flex-shrink: 0;
	text-align: center;
	text-decoration: none;
	font-family: Verdana, sans-serif;
	font-size: 40px;
	padding-top: 20px;
}

@media (max-width: 450px) {
	.color-bar {
		width: 25px;
		font-size: 30px;
	}
}

.color-bar {
	color: var(--lightGray);
}
.color-bar:link {
	color: var(--lightGray);
}
.color-bar:visited {
	color: var(--lightGray);
}

[data-chiasm-selected=true] .chiasm-color-bar {
	border-radius: var(--colorBarRounding);
}

[data-septet-selected=true] .chiasm-color-bar {
	color: var(--darkGray);
}

.septet-color-bar {
	border-radius: var(--colorBarRounding);
	margin: calc(var(--paragraphMargin) / 2) 0;
}

@media (max-width: 1100px) {
	.section-description {
		width: 250px;
	}
}

@media (max-width: var(--smallScreen)) {
	.section-content {
		flex-direction: column;
	}
	.section-description {
		width: initial;
		flex-grow: 1;
		padding-bottom: 8px;
	}
	.header-section-description {
		margin-top: 0;
		margin-bottom: 0;
	}
	.section-content-description-directly-below {
		flex-direction: column-reverse;
	}
	.section-content-description-directly-below .section-description {
		margin-top: 0;
	}
}
