<a
	href="{{href}}"
	data-active="{{asr.stateIsActive(state, effectiveParams)}}"
	on:click="navigate(event)"
	class="{{className}}"
>
	{{yield}}
</a>

<script>
import stateRouter from 'lib/asr-instance'
import deepEqual from 'lib/deep-equal'
import once from 'lib/better-once'

import shouldInterceptClick from 'click-should-be-intercepted-for-navigation'

function afterTransitionTo(stateRouter, stateName, params, cb) {
	const cancelFunctions = [
		once(stateRouter, `stateChangeEnd`, listener),
		once(stateRouter, `stateChangeError`, cancel),
		once(stateRouter, `stateError`, cancel),
		once(stateRouter, `routeNotFound`, cancel),
		once(stateRouter, `stateChangeCancelled`, cancel),
	]
	function listener(endState, endParams) {
		if (endState.name === stateName && deepEqual(params, endParams)) {
			cb()
		} else {
			cancel()
		}
	}
	function cancel() {
		cancelFunctions.forEach(fn => fn())
	}
}

function currentPath() {
	return window.location.pathname + window.location.search
}

export default {
	oncreate() {
		this.stateChangeListener = () => this.set({ asr: stateRouter })
		stateRouter.on(`stateChangeEnd`, this.stateChangeListener)
	},
	ondestroy() {
		stateRouter.removeListener(`stateChangeEnd`, this.stateChangeListener)
	},
	data() {
		return {
			asr: stateRouter,
			params: {},
			inherit: false,
			className: ``,
			anchor: ``,
		}
	},
	computed: {
		hashFragment: anchor => anchor ? `#${ anchor }` : ``,
		effectiveParams: params => {
			const o = {}

			Object.keys(params).forEach(key => {
				o[key] = params[key].toString()
			})

			return o
		},
		path: (asr, state, effectiveParams, options) => asr.makePath(state, effectiveParams, options),
		href: (path, hashFragment) => path + hashFragment,
	},
	methods: {
		navigate(event) {
			if (shouldInterceptClick(event)) {
				event.preventDefault()

				const { asr, state, effectiveParams, inherit, hashFragment, anchor, path } = this.get()

				if (path !== currentPath()) {
					asr.go(state, effectiveParams, { inherit })

					afterTransitionTo(asr, state, effectiveParams, () => {
						if (anchor) {
							window.location.replace(hashFragment)
						}
					})
				} else {
					window.location = hashFragment
				}
			}
		},
	},
}
</script>
