@import "constants";

.section-list {
	display: inline-block;

	.tiny-color-bar {
		width: .9rem;
		height: .9rem;
		margin-right: .25rem;
		border-radius: .1rem;
		display: inline-block;
	}

	[data-unhighlighted=true] {
		animation-name: lighten;
		animation-duration: .3s;
		color: $barelyReadableGray;
	}

	@keyframes lighten {
		0% {
			color: $black;
		}
		100% {
			color: $barelyReadableGray;
		}
	}
}
