{{#if sectionName}}: {{sectionName}}{{/if}}

<script>
import structure from 'lib/structure/data/structure'

export default {
	computed: {
		sectionName: querystringParameters => {
			if (!querystringParameters || !querystringParameters.chiasm) {
				return null
			}

			const matchingSections = structure.filter(section => {
				return section.identifier === querystringParameters.chiasm
			}).map(section => section.title)

			return matchingSections.length > 0
				? matchingSections.join(' / ')
				: null
		}
	}
}
</script>
