<:Window ref:window on:resize="drawOnNextFrame()" />

<canvas
	ref:canvas
	width="{{liveWidth}}"
	height="{{liveHeight}}"
	style="top: {{liveTop}}px; left: {{liveLeft}}px;"
></canvas>

<style>
canvas {
	position: fixed;
	pointer-events: none;
}
</style>

<script>
import browserEvent from 'lib/browser-event.js'

const greatest = (a, b, property) => a[property] > b[property] ? a : b
const least = (a, b, property) => a[property] > b[property] ? b : a
const lineWidth = 2

export default {
	oncreate() {
		this.drawOnNextFrame()

		this.on('destroy', browserEvent(window, 'scroll', () => this.drawOnNextFrame()))
		this.observe('from', () => this.drawOnNextFrame())
		this.observe('to', () => this.drawOnNextFrame())
	},
	computed: {
		leftmostPoint: (from, to) => least(from, to, 'x'),
		rightmostPoint: (from, to) => greatest(from, to, 'x'),
		topmostPoint: (from, to) => least(from, to, 'y'),
		bottommostPoint: (from, to) => greatest(from, to, 'y'),
		top: (from, to) => Math.min(from.y, to.y),
		left: (from, to) => Math.min(from.x, to.x),
		width: (leftmostPoint, rightmostPoint) => Math.max(rightmostPoint.x - leftmostPoint.x, lineWidth),
		height: (topmostPoint, bottommostPoint) => Math.max(bottommostPoint.y - topmostPoint.y, lineWidth),
	},
	methods: {
		drawOnNextFrame() {
			if (!this.drawingOnNextFrame) {
				this.drawingOnNextFrame = true

				window.requestAnimationFrame(() => {
					this.draw()
					this.drawingOnNextFrame = false
				})
			}
		},
		draw() {
			if (!this.refs.canvas) {
				return
			}

			const { width, height, leftmostPoint, topmostPoint, color, top, left  } = this.get()

			const topLeftToBottomRight = leftmostPoint === topmostPoint
			const bottomLeftToTopRight = !topLeftToBottomRight

			const startLeft = {
				x: 0,
				y: topLeftToBottomRight ? 0 : height
			}
			const endRight = {
				x: width,
				y: bottomLeftToTopRight ? 0 : height
			}

			this.set({
				liveWidth: width,
				liveHeight: height,
				liveTop: top,
				liveLeft: left,
			})

			const context = this.refs.canvas.getContext('2d')
			context.lineWidth = lineWidth
			context.lineCap = 'stroke'

			context.strokeStyle = color
			context.clearRect(0, 0, width, height)
			context.beginPath()
			context.moveTo(startLeft.x, startLeft.y)
			context.bezierCurveTo(width * .3, height * .7, width * .7, height * .3, endRight.x, endRight.y);
			context.stroke()
		}
	}
}
</script>
