<div class="intro">
	<h1>
		Summary of different interpretations of Revelation
	</h1>
</div>

<div class="explanation-bars">
	<ColorBar color="{{colors.apostolic}}">
		Apostolic age (crucifixion to A.D. 70)
	</ColorBar>
	<ColorBar color="{{colors.persecution}}">
		Persecution of the church by Israel and Rome (A.D. 62 to 68)
	</ColorBar>
	<ColorBar color="{{colors.past}}">
		First century to now
	</ColorBar>
	<ColorBar color="{{colors.future}}">
		Now to second coming and beyond
	</ColorBar>
	<ColorBar color="{{colors.eternity}}">
		Eternity
	</ColorBar>
</div>

<div>
	<h2>
		Chapters of Revelation
	</h2>

	<div class="chapters-and-beliefs">
		<div class="chapter-delineations">
			{{#each chapterChunks as delineation}}
			<div class="chapter-delineation separated-thing-container" style="width: {{ chapterWidth(delineation.chapters.length) }};">
				<span class="delineation-title separated-thing">
					{{delineation.title}}
				</span>
				<div class="chapter-numbers">
					{{#each delineation.chapters as number}}
						<span
							class="chapter-number separated-thing"
							style="{{ chapterNumberStyle(number) }}"
						>
							{{number}}
						</span>
					{{/each}}
				</div>
			</div>
			{{/each}}
		</div>

		<div class="belief-container">
			<h3>Partial Preterist</h3>
			<div class="belief-bars">
				<ColorBar fontSize="small" color="{{colors.apostolic}}" width="{{ chapterWidth(3) }}">
					Apostolic age
				</ColorBar>
				<ColorBar fontSize="small" color="{{colors.persecution}}" width="{{ chapterWidth(16) }}">
					Persecution of the church
				</ColorBar>
				<ColorBar fontSize="small" color="{{ [ colors.past, colors.future ] }}" width="{{ chapterWidth(1) }}">
					Now
				</ColorBar>
				<ColorBar fontSize="small" color="{{colors.eternity}}" width="{{ chapterWidth(2) }}">
					Eternity
				</ColorBar>
			</div>
			<div class="belief-elaboration">
				<Collapsible>
					<h4 slot='title'>Representatives of Partial Preterism</h4>
					<slot>
						<ul>
							<li>
								<strong>Amillennial:</strong>
								Jay Adams
							</li>
							<li>
								<strong>Postmillennial:</strong>
								Augustine, Moses Stuart, Marcellus Kik, Greg Bahnsen, David Chilton, Kenneth Gentry, R.C. Sproul, Douglas Wilson, Joseph R. Balyeat, David Clark, Gary DeMar, Phillip Kayser, Glenn Durham, Kelly Birks
							</li>
							<li>
								<strong>Premillennial:</strong>
								<em>Note: many of the Historicist Premillennialists listed below are preteristic on chapters like 1-6,12-13,17</em>
							</li>
						</ul>
					</slot>
				</Collapsible>
			</div>
		</div>

		<hr>

		<div class="belief-container">
			<h3>Full Preterist</h3>
			<div class="belief-bars">
				<ColorBar fontSize="small" color="{{ [ colors.apostolic, colors.persecution ] }}" width="{{ chapterWidth(22) }}"></ColorBar>
			</div>
			<div class="belief-elaboration">
				<p>
					The full preterist (sometimes called hyper-preterist or pantelist) sees everything in Revelation as being fulfilled by 70 AD.
				</p>
				<Collapsible>
					<h4 slot="title">Representatives of Full Preterism</h4>
					<slot>
						<ul>
							<li>
								<strong>Amillennial:</strong>
								Max R. King, J.E. Leonard, Arthur M. Ogden, Foy E. Wallace, J. Stuart Russel
							</li>
						</ul>
					</slot>
				</Collapsible>
			</div>
		</div>

		<hr>

		<div class="belief-container">
			<h3>Historicist</h3>
			<div class="belief-bars">
				<ColorBar fontSize="small" color="{{ [ colors.past, colors.future ]}}" width="{{ chapterWidth(22) }}"></ColorBar>
			</div>
			<div class="belief-elaboration">
				<p>
					Progressive unfolding of history from the first century until the Second Coming and beyond (with key dates such as 30 AD, 70 AD, 97 AD, 1073 AD, 1217 AD, 1295 AD, 1300 AD, 1301 AD, 1305 AD, etc.)
				</p>
				<Collapsible>
					<h4 slot="title">Representatives of Historicism</h4>
					<slot>
						<ul>
							<li>
								<strong>Amillennial:</strong>
								Ralph Woodrow, Martin Luther, A. J. Gordon
							</li>
							<li>
								<strong>Postmillennial:</strong>
								The original Geneva Study Bible, Jonathan Edwards, A H. Strong
							</li>
							<li>
								<strong>Premillennial:</strong>
								Henry Alford, Philip Mauro, J. Barton Payne, E.B. Elliott, W. J. Erdman, A.R. Faussett
							</li>
						</ul>
					</slot>
				</Collapsible>
			</div>
		</div>

		<hr>

		<div class="belief-container">
			<h3>Idealist</h3>
			<div class="belief-bars">
				<ColorBar fontSize="small" color="{{ [ colors.abstract, '#d4d4d4', colors.abstract, '#d4d4d4', colors.abstract, '#d4d4d4', colors.abstract, '#d4d4d4', colors.abstract ] }}" width="{{ chapterWidth(22) }}"></ColorBar>
			</div>
			<div class="belief-elaboration">
				<p>
					Unhistorical approach. The idealist sees Revelation as presenting ideas and principles, not “happenings.”
				</p>
				<Collapsible>
					<h4 slot="title">Representatives of Idealism:</h4>
					<slot>
						<ul>
							<li>
								<strong>Amillennial:</strong>
								Siegbert W. Becker, Michael Wilcock
							</li>
						</ul>
					</slot>
				</Collapsible>
			</div>
		</div>

		<hr>

		<div class="belief-container">
			<h3>Recapitulationist</h3>
			<div class="belief-bars">
				<ColorBar fontSize="small" color="{{ [ colors.past, colors.future ] }}" width="{{ chapterWidth(3) }}"></ColorBar>
				<ColorBar fontSize="small" color="{{ [ colors.past, colors.future ] }}" width="{{ chapterWidth(4) }}"></ColorBar>
				<ColorBar fontSize="small" color="{{ [ colors.past, colors.future ] }}" width="{{ chapterWidth(4) }}"></ColorBar>
				<ColorBar fontSize="small" color="{{ [ colors.past, colors.future ] }}" width="{{ chapterWidth(3) }}"></ColorBar>
				<ColorBar fontSize="small" color="{{ [ colors.past, colors.future ] }}" width="{{ chapterWidth(2) }}"></ColorBar>
				<ColorBar fontSize="small" color="{{ [ colors.past, colors.future ] }}" width="{{ chapterWidth(3) }}"></ColorBar>
				<ColorBar fontSize="small" color="{{ [ colors.past, colors.future, colors.eternity ] }}" width="{{ chapterWidth(3) }}"></ColorBar>
			</div>
			<div class="belief-elaboration">
				<p>
					Revelation is divided into seven sections each of which spans the entire dispensation from first coming to second coming. 7 different perspectives.
				</p>
				<Collapsible>
					<h4 slot="title">Representatives of Recapitulationism</h4>
					<slot>
						<ul>
							<li>
								<strong>Amillennial:</strong>
								William Hendriksen, Abraham Kuyper, R. B. Strimple
							</li>
							<li>
								<strong>Postmillennial:</strong>
								<em>While pure recapitulationism is usually Amillennial, many Postmillennialists borrow the concept in their structure of the book.</em>
							</li>
						</ul>
					</slot>
				</Collapsible>
			</div>
		</div>

		<hr>

		<div class="belief-container">
			<h3>Futurist</h3>
			<div class="belief-bars">
				<ColorBar fontSize="small" color="{{colors.apostolic}}" width="{{ chapterWidth(3) }}">
					Apostolic
				</ColorBar>
				<ColorBar fontSize="small" color="{{colors.future}}" width="{{ chapterWidth(16) }}">
					 A description of a seven year period of tribulation shortly before millennium
				</ColorBar>
				<ColorBar fontSize="small" color="{{colors.future}}" width="{{ chapterWidth(1) }}">
					Millennium
				</ColorBar>
				<ColorBar fontSize="small" color="{{colors.eternity}}" width="{{ chapterWidth(2) }}">
					Eternity
				</ColorBar>
			</div>
			<div class="belief-elaboration">
				<Collapsible>
					<h4 slot="title">Representatives of Futurism</h4>
					<slot>
						<ul>
							<li>
								<strong>Amillennial:</strong>
								M. G. Kline, M. M. Kline and many pessimistic brands of amillennialism
							</li>
							<li>
								<strong>Historic Premillennial:</strong>
								George Eldon Ladd, Mounce
							</li>
							<li>
								<strong>Dispensational Premillennial:</strong>
								Most. Some (like William Newell) see each of the churches in chapters 1-3 as representing a different age of church history
							</li>
						</ul>
					</slot>
				</Collapsible>
			</div>
		</div>
	</div>

</div>


<style>
/*
make better on small screens
- prevent chapter delineator names from wrapping
- decrease font size on smaller screens so it doesn't want to wrap
*/
.explanation-bars {
	display: flex;
	flex-wrap: wrap;
	/*flex-direction: column;*/
}
.explanation-bars > * {
	margin-right: 8px;
	margin-bottom: 4px;
}

.chapters-and-beliefs {
	width: 100%;
	min-width: 700px;
}

.chapter-delineations {
	display: flex;
}

.chapter-delineation {
	display: flex;
	flex-direction: column;

	text-align: center;
}

h3 {
	margin-bottom: 4px;
}

h4 {
	margin-top: 4px;
	margin-bottom: 4px;
}

.delineation-title {
	font-size: 12px;
}
/*
.separated-thing {
	border-left: .5px solid black;
	border-right: .5px solid black;
}
.separated-thing-container:first-child .separated-thing:first-child {
	border-left: 1px solid black;
}
.separated-thing-container:last-child .separated-thing:last-child {
	border-right: 1px solid black;
}
*/

.separated-thing {
	border-left: 1px solid black;
}
.separated-thing-container:last-child {
	border-right: 1px solid black;
}

.chapter-numbers {
	display: flex;
}
.chapter-number {
	flex-shrink: 0;
	flex-grow: 1;
}

.belief-bars {
	display: flex;
}

.belief-bars .bar {
	height: 24px;
}

.belief-elaboration {
	max-width: 800px;
}
.belief-elaboration > * {
	margin-top: 8px;
	margin-bottom: 0;
}
.belief-elaboration ul {
	padding-left: 24px;
}

</style>


<script>
import ColorBar from './ColorBar.html'
import VerseRange from 'component/VerseRange.html'
import Collapsible from './Collapsible.html'

import { getChapterColor } from 'lib/structure/identifier-color.js'

import { contrastRatio } from 'chromatism2'

const chapterChunks = [{
	chapters: [1, 2, 3],
	title: 'Letters',
}, {
	chapters: [4, 5, 6, 7],
	title: 'Seals',
}, {
	chapters: [8, 9, 10, 11],
	title: 'Trumpets',
}, {
	chapters: [12, 13, 14],
	title: 'Visions',
}, {
	chapters: [15, 16],
	title: 'Bowls',
}, {
	chapters: [17, 18],
	title: 'Babylon',
}, {
	chapters: [19],
	title: 'Battle',
}, {
	chapters: [20],
	title: '1000 years',
}, {
	chapters: [21, 22],
	title: 'New creation',
}]

const yellow = '#FFDC00'
const red = '#FF4136'
const aqua = '#7FDBFF'
const purple = '#B10DC9'
const blue = '#0074D9'
const olive = '#3D9970'
const orange = '#FF851B'
const gray = '#AAAAAA'

const colors = {
	apostolic: yellow,
	persecution: red,
	past: purple,
	future: blue,
	eternity: orange,
	abstract: gray,
}

function combine(first, second, titleContainer) {
	return {
		range: [ first.range[0], second.range[1] ],
		title: titleContainer.title
	}
}

function shortenTitle(chunk) {
	const pieces = chunk.title.split('–')

	return Object.assign({}, chunk, {
		title: pieces[pieces.length - 1].trim()
	})
}

export default {
	data() {
		return {
			colors,
			chapterChunks
		}
	},
	components: {
		ColorBar,
		VerseRange,
		Collapsible,
	},
	computed: {
		chapterDelineations(structure) {
			const simplified = structure.map(({ title, range }) => ({ title, range }))
			console.log('simplified:', simplified)
			const PROLOGUE = 0
			const FIRST_SEPTET = 1
			const first = combine(simplified[PROLOGUE], simplified[FIRST_SEPTET], simplified[FIRST_SEPTET])
			const EPILOGUE = simplified.length - 1
			const SEVENTH_SEPTET = EPILOGUE - 1
			const last = combine(simplified[SEVENTH_SEPTET], simplified[EPILOGUE], simplified[SEVENTH_SEPTET])

			const rest = simplified.slice(2, simplified.length - 3)

			return [
				first,
				...rest,
				last,
			].map(shortenTitle)
		}
	},
	helpers: {
		chapterWidth(chapters) {
			const chaptersInBook = 22
			return `${(100 / chaptersInBook) * chapters}%`
		},
		chapterNumberStyle(chapterNumber) {
			return ``
			const chapterColor = getChapterColor(chapterNumber)
			return `background-color: ${chapterColor}; color: ${contrastRatio(chapterColor).hex};`
		},
	}
}
</script>
