<:Window on:scroll="updatePosition()" />

<div ref:placeholder class="placeholder" style="{{placeholderStyle}}">

</div>

<div ref:container class="container" style="{{containerStyle}}">
	<slot></slot>
</div>

<style>
.container {
	background-color: rgba(245, 245, 245, 0.7);
}
</style>

<script>
export default {
	oncreate() {
		this.updatePosition()
	},
	methods: {
		updatePosition() {
			this.set({
				containerHeight: this.refs.container.clientHeight,
				placeholderWidth: this.refs.placeholder.clientWidth,
				placeholderViewportPosition: this.refs.placeholder.getBoundingClientRect(),
				placeholderTop: this.refs.placeholder.offsetTop,
				placeholderLeft: this.refs.placeholder.offsetLeft,
			})
		}
	},
	computed: {
		placeholderStyle(containerHeight) {
			return containerHeight ? `height: ${containerHeight}px;` : ``
		},
		containerStyle(placeholderViewportPosition, placeholderWidth, placeholderTop, placeholderLeft) {
			if (!placeholderViewportPosition) {
				return `display: none;`
			}

			const aboveViewport = placeholderViewportPosition.top < 0

			const { top, left, position } = aboveViewport
				? { top: 0, left: placeholderViewportPosition.left, position: 'fixed' }
				: { top: placeholderTop, left: placeholderLeft, position: 'absolute '}

			return `
				width: ${placeholderWidth}px;
				top: ${top}px;
				left: ${left}px;
				position: ${position};
			`
		}
	}
}
</script>
