<:Window on:scroll="updatePosition()" />

<div ref:placeholder class="placeholder" style="{{placeholderStyle}}">

</div>

<div ref:container class="container" style="{{containerStyle}}">
	<slot></slot>
</div>

<style>
.container {
	background-color: rgba(245, 245, 245, 0.7);
}
</style>

<script>
export default {
	data() {
		return {
			style: ''
		}
	},
	oncreate() {
		this.updatePosition()
	},
	methods: {
		updatePosition() {
			this.set({
				containerHeight: this.refs.container.clientHeight,
				placeholderWidth: this.refs.placeholder.clientWidth,
				placeholderViewportPosition: this.refs.placeholder.getBoundingClientRect(),
				placeholderTop: this.refs.placeholder.offsetTop,
				placeholderLeft: this.refs.placeholder.offsetLeft,
			})
		}
	},
	computed: {
		placeholderStyle(containerHeight) {
			return containerHeight ? `height: ${containerHeight}px;` : ``
		},
		containerStyle(placeholderViewportPosition, placeholderWidth, placeholderTop, placeholderLeft) {
			if (!placeholderViewportPosition) {
				return `display: none;`
			}

			const aboveViewport = placeholderViewportPosition.top < 0

			const top = aboveViewport ? 0 : placeholderTop
			const left = aboveViewport ? placeholderViewportPosition.left : placeholderLeft
			const position = aboveViewport ? 'fixed' : 'absolute'

			return `
				left: ${left}px;
				width: ${placeholderWidth}px;
				position: ${position};
				top: ${top}px;
			`
		}
	}
}
</script>
