@import "constants";

.color-light-gray {
	color: $lightGray;
}

.color-barely-readable-gray {
	color: $barelyReadableGray;
}

.color-dark-gray {
	color: $darkGray;
}

.color-white {
	color: $white;
}

.color-black {
	color: $black;
}

.bg-color-light-gray {
	background-color: $lightGray;
}
.bg-color-barely-readable-gray {
	background-color: $barelyReadableGray;
}
.bg-color-dark-gray {
	background-color: $darkGray;
}
.bg-color-white {
	background-color: $white;
}
.bg-color-black {
	background-color: $black;
}
