<div class="top-bar">
	<a href="https://biblicalblueprints.com/" class="link-no-underline">
		<img src="/static/image/bb-logo-2020-square.svg" class="big-screen-logo" />
		<img src="/static/image/bb-logo-2020-square.svg" class="small-screen-logo" />
	</a>
	<div class="nav-responsive-wrap">
		<div class="menu-container">
			<ul class="nav-list header-nav-list">
				<li class=button-border>
					<a href="https://biblicalblueprints.com/about">About</a>
				</li>
				<li class=button-border>
					<a href="https://kaysercommentary.com">Research</a>
				</li>
				<li class=button-border>
					<a href="https://biblicalblueprints.com/projects">Projects</a>
				</li>
				<li class=button-border>
					<a href="https://revelation.biblicalblueprints.org/home">Revelation</a>
				</li>
				<li class=button-border>
					<a href="https://kaysercommentary.com/booklets.md">Books</a>
				</li>
			</ul>
		</div>
		<div class="menu-container">
			<hr>
			<Menu asr="{{asr}}" />
		</div>
	</div>
</div>

<uiView></uiView>

<style>
.top-bar {
	display: flex;
}
.big-screen-logo {
	width: 150px;
	height: 150px;
}
.small-screen-logo {
	width: 175px;
	height: 150px;
	align-self: center;
	display: none;
}

.menu-container {
	/* min-height: 150px; */
	margin-left: 8px;
	margin-top: 0px;
	width: 100%;
}

/* Styles from KayserCommentary.com */
.nav-responsive-wrap {
    display: flex;
    flex-wrap: wrap;
}
.nav-list {
    font-family: "source sans pro", sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 0;
    font-size: 22px;
}
ul.nav-list {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.nav-list li {
    margin: 5px 10px;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
}
.button-border {
    border: 1px black solid;
    border-radius: 2px;
}
.nav-list a {
    color: #383839;
    text-decoration: none;
    border-bottom: 1px #aaaaaa dotted;
    padding-bottom: 1px;
}
.link-no-underline, .link-no-underline:hover {
    border: none;
    padding-bottom: 0;
}

@media (max-width: 450px) {
	.top-bar {
		flex-direction: column;
	}
	.menu-container {
		margin-left: 0;
		margin-top: 8px;
	}
	ul.nav-list {
	    flex-direction: column;
	    align-content: center;
	}
	.small-screen-logo {
		display: inherit;
	}
	.big-screen-logo {
		display: none;
	}
}
</style>

<script>
import Menu from './Menu.html'

export default {
	components: {
		Menu
	}
}
</script>
