<div class="top-bar">
	<img src="/static/image/dragon-sword.svg" class="big-screen-logo" />
	<img src="/static/image/dragon-sword-wide.svg" class="small-screen-logo" />
	<div class="menu-container">
		<Menu asr="{{asr}}" />
	</div>
</div>

<uiView></uiView>

<style>
.top-bar {
	display: flex;
}
.big-screen-logo {
	width: 150px;
	height: 150px;
}
.small-screen-logo {
	width: 175px;
	height: 150px;
	align-self: center;

	display: none;
}

.menu-container {
	min-height: 150px;

	margin-left: 8px;
	margin-top: 0px;
}

@media (max-width: 450px) {
	.top-bar {
		flex-direction: column;
	}
	.menu-container {
		margin-left: 0;
		margin-top: 8px;
	}

	.small-screen-logo {
		display: inherit;
	}
	.big-screen-logo {
		display: none;
	}
}
</style>

<script>
import Menu from './Menu.html'

export default {
	components: {
		Menu
	}
}
</script>
