<div class="menu">
	{{#each menu as item}}
		<span class="parent-menu-box">
			<a class="parent-placeholder bold-placeholder" aria-hidden="true">{{item.name}}</a>
			<StateLink
				state="{{item.state}}"
				href="{{asr.makePath(item.state)}}"
				className="menu-item"
			>
				{{item.name}}
			</StateLink>
		</span>
	{{/each}}
</div>
<hr />
{{#if activeParentMenuItem && activeParentMenuItem.children}}
<span class="menu">
	{{#each activeParentMenuItem.children as child}}
		<span class="child-menu-box">
			<a class="bold-placeholder child-placeholder" aria-hidden="true">{{child.name}}</a>
			<StateLink
				state="{{child.state}}"
				className="child-item"
			>
				{{child.name}}
			</StateLink>
		</span>
	{{/each}}
</span>
{{/if}}

<style>
a {
	white-space: nowrap;
	display: block;
}

hr {
	margin: 0;
}

.menu {
	display: flex;
	flex-wrap: wrap;

	font-family: Verdana, sans-serif;
	font-size: 16px;
}

.parent-menu-box {
	text-align: center;
	margin-bottom: 8px;
	margin-right: 8px;
}
.parent-menu-box:last-of-type {
	margin-right: 0;
}

.menu-item {
	padding: 8px;
	background-color: #e0e0e0;
	color: black;
	border-radius: 2px;
}
.parent-placeholder {
	padding: 0 8px;
}
.menu-item[data-active=true] {
	font-weight: bold;
}

.child-menu-box {
	text-align: center;
}

.child-item {
	padding: 4px;
	color: black;
	background-color: #f5f5f5;

	font-size: 14px;
}
.child-placeholder {
	padding: 0 4px;
}
.child-item[data-active=true] {
	font-weight: bold;
}

.bold-placeholder {
	font-weight: bold;
	visibility: hidden;
	height: 0px;
}
</style>

<script>
import StateLink from 'component/StateLink.html'

export default {
	data() {
		return {
			menu: [{
				name: 'Project Home',
				state: 'main.home'
			}, {
				name: 'Historical timeline',
				state: 'main.timeline',
				children: [{
					name: 'Timeline',
					state: 'main.timeline.visual',
				}, {
					name: 'Table of dates',
					state: 'main.timeline.table',
				}]
			}, {
				name: 'The structure of Revelation',
				state: 'main.structure',
				children: [{
					name: 'The book',
					state: 'main.structure.text',
				}, {
					name: 'Explanation',
					state: 'main.structure.explanation',
				}]
			}, {
			// 	name: 'Different Interpretations of Revelation',
			// 	state: 'main.different-interpretations'
			// }, {
				name: 'Sermons',
				state: 'main.sermons',
			}]
		}
	},
	computed: {
		activeParentMenuItem: (menu, asr) => menu.find(item => asr.stateIsActive(item.state))
	},
	components: {
		StateLink
	}
}
</script>
