@import "constants";
@import "mixins";

$bodyPadding: 16px;
$containerWidth: 800px;
$containerPadding: 16px;

.centered-container {
	max-width: $containerWidth;
	margin-left: auto;
	margin-right: auto;
	padding-left: $containerPadding;
	padding-right: $containerPadding;
}
@media (max-width: 400px) {
	.centered-container {
		padding-left: calc($containerPadding / 2);
		padding-right: calc($containerPadding / 2);
	}
}
@media (max-width: 350px) {
	.centered-container {
		padding-left: 0;
		padding-right: 0;
	}
}

.intro {
	font-family: Verdana, sans-serif;
	padding-bottom: .7em;
	text-align: center;
	font-size: 1.3em;
}

.unselectable, [data-selectable=false] {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	font-family: Palatino, Palatino Linotype, Serif;
	background-color: $white;
	color: $black;
	padding: $bodyPadding;
	margin: 0;
}

p {
	line-height: 1.5rem;
	margin: $paragraphMargin 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: helvetica, sans-serif;
	line-height: 100%;
}

h1 {
	@mixin header-margin;
	font-size: 35px;
}

h2 { font-size: 28px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; font-weight: 700; }
h5 { font-size: 14px; font-weight: 700; }
h6 { font-size: 12px; font-weight: 700; }

small {
	font-size: 13px;
}

@media (max-width: 900px) {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
}

@media (max-width: 500px) {
	body {
		padding: 8px;
	}

	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 17px;
	}
	h4 {
		font-size: 16px;
	}
}

a:link {
	color: $linkBlue;
}
a:visited {
	color: $linkVisitedBlue;
}
a.everblue:visited {
	color: $linkBlue;
}

.sticky {
	position: sticky;
	top: 0;
}
