<div class="centered-container">
	<div class="intro">
		<h1>The Revelation Project</h1>
		<h2>
			By <a href="https://biblicalblueprints.com/" rel="external">Biblical Blueprints</a>
		</h2>
	</div>
	<p>
		The book of Revelation has fascinated, mystified, and terrified Christians for hundreds of years. Dr. Phil Kayser's Revelation Project seeks to clear away the smoke and present the book as John's original audience would have understood it. The 1st century Christians John wrote to knew that most of the events prophesied in Revelation would take place within their lifetime (between 66-73 AD) John filled the book with prophetic symbols about Rome, Jerusalem, and the times in which they lived — symbols from their common cultural background which he knew they would understand. Dr. Kayser makes these symbols understandable once again, as he draws from Old Testament symbology, 1st century historical works, ancient near-east archaeology, and over 100 biblical commentaries.
	</p>
	<p>
		After studying Revelation for over thirty years, examining the best of every school of interpretation, Dr. Kayser unfolds Revelation not as an end-times-guide, but as a hope-filled practical manual on spiritual warfare, worship, prayer, perseverance in trial, resistance to tyranny, God's preservation of the church, and Jesus' victory over all of his enemies. The first fourteen sermons are useful as a primer on hermeneutics in their own right. Dr. Kayser unpacks the interpretive principles buried in the first chapter of Revelation which explain the rest of the book.
	</p>

	<h3>Currently Finished</h3>
	<h4>Full Text and Audio of All 118 Sermons on Revelation</h4>
	<p>
		The <StateLink state="main.sermons">full text and audio of every sermon</StateLink> is available. You can also listen to the sermons as podcasts, using your favorite podcast app — just search for "Revelation Project: Sermons".
	</p>
	<h4>Historical Timeline of the Events Described in Revelation</h4>
	<p>
		The <StateLink state="main.timeline.table">timeline</StateLink> is still in the early stages in terms of data and usability. We will update it over time, making it easier to navigate, tweaking dates and adding more events as research continues, and adding more detailed descriptions of the events with links to the verses describing them.
	</p>
	<h4>Pickering's Majority Text Translation of Revelation</h4>
	<p>
		Revelation has more textual variants (and thus translational differences) than any other book of the Bible. Rather than constantly discussing the technical issues of textual criticism and reasons why we differ from various translations, we chose to use <StateLink state="main.structure.text">Wilbur Pickering's translation of Revelation</StateLink>. It is based on Family 35 of the Byzantine text-type, which Dr. Kayser and others consider to be the best representative of the Majority Text, which was preserved by the church. Sermon text and audio recordings are aligned next to the relevant verses.
	</p>
	<h4>Pickering's Translation Laid Out in Chiastic Form</h4>
	<p>
		Here you can read the text laid out according to its <StateLink state="main.structure.explanation" anchor="the-pattern">chiastic structure</StateLink> (as identified by Dr. Kayser) instead of by chapter number. Sermon text and audio recordings are aligned next to the relevant verses.
	</p>

	<h3>Coming Soon</h3>
	<p>
		With adequate funding and time, there are many resources we plan to make available, including:
	</p>
	<ul>
		<li>
			A reader's guide to Revelation
		</li>
		<li>
			A verse-by-verse commentary with detailed technical notes
		</li>
		<li>
			Relevant passages from secular historians such as Josephus linked alongside verse text and timeline events
		</li>
		<li>
			Symbology cheatsheets (e.g. "white horse = Emperor Tiberius")
		</li>
		<li>
			Symbology references (e.g. all other places in the Bible referencing "Babylon")
		</li>
	</ul>

	<h3>Help Us Finish the Revelation Project</h3>
	<p>
		Biblical Blueprints runs on donations and coffee. You can help Dr. Kayser stay awake while working on the Revelation Project by buying him and his team more coffee.
	</p>
	<p>
		<a href="https://www.buymeacoffee.com/bibleblueprints"><img src="https://img.buymeacoffee.com/button-api/?text=Buy Dr. Kayser a coffee&emoji=&slug=bibleblueprints&button_colour=3898ec&font_colour=FFFFFF&font_family=Inter&outline_colour=000000&coffee_colour=FFDD00" alt=""></a>
	</p>

	<h3>Contact Us</h3>
	<p>
		Contact us at <a href="mailto:info@biblicalblueprints.com">info@biblicalblueprints.com</a>
	</p>

	<h3>This site</h3>
	<p>
		The code for this site is open source and <ExternalLink href="https://github.com/KayserCommentaryOrg/revelation-project/">available online</ExternalLink>.  If you have any issues or questions, <ExternalLink href="https://github.com/KayserCommentaryOrg/revelation-project/issues">go here</ExternalLink>.
	</p>
</div>

<script>
import StateLink from 'component/StateLink.html'
import ExternalLink from 'component/ExternalLink.html'

export default {
	components: {
		StateLink,
		ExternalLink
	}
}
</script>

