$lightGray: #d8d8d8;
$barelyReadableGray: #ababab;
$darkGray: #7d7d7d;

$white: #f5f5f5;
$black: #333;

$linkBlue: #0066e4;
$linkVisitedBlue: #00479f;


$colorBarRounding: .2rem;

$paragraphMargin: 10px;

$smallScreen: 900px;
